:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #A0D468, #41d1ff);

    --vp-home-hero-image-background-image: -webkit-linear-gradient(120deg, #A0D468, #41d1ff);
    --vp-home-hero-image-filter: blur(150px);

    --vp-button-brand-bg: #A0D468;
    @media (min-width: 960px) {
        .item.grid-4 {
            width: calc(100% / 3);
        }
    }
}


